<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.pamper.mapper.FollowMapper">
    <insert id="follow">
        insert into follow (followers, followed, create_time) values (#{followers}, #{followed}, #{create_time})
    </insert>
    <select id="checkFollow" resultType="java.lang.Integer">
        select count(*) from follow where followers = #{followers} and followed = #{followed}
    </select>
</mapper>